body{

    background-color: rgb(202, 113, 232);
    color:white;
    font-family:"Lilita One", sans-serif;
 display:flex;
 justify-content:center;
 align-items:center;
 height: 700px;
 margin: 0;
    
    }
    button{
      background-color: black;
      color: white;
      font-family:"Lilita One", sans-serif;
    }
    
    .passo{
      display: none;
    }
    
    .psso{
      display: block;
}

main{
  max-width: 90%;
}
